@tailwind base;
@tailwind components;
@tailwind utilities;

.TeacherCalendar .app-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

.TeacherCalendar .app-content {
  display: flex;
  gap: 1rem;
}

.TeacherCalendar .flex-col {
  flex-direction: column;
}

@media (max-width: 1000px) {
  .TeacherCalendar .app-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .TeacherCalendar .app-content > div {
    width: 100% !important;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .TeacherCalendar .panelLesson {
    margin-top: 1rem;
    align-items: center;
  }
}