@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

.hometask-card {
    @apply w-full p-0 m-0;
}

.hometask-card .back-card {
    @apply relative;
}

.hometask-card .back-card::after {
    @apply content-[''] absolute inset-0 bg-[url('../../../public/assets/patterns/pattern4.png')] bg-[length:30%] bg-repeat bg-center opacity-10 -z-10;
}

.homework-status-default {
    @apply text-[#8A48E6] border-[#8A48E6] stroke-[#8A48E6];
}

 .homework-status-overdue {
    @apply border-[#E64851] text-[#E64851] stroke-[#E64851];
}

 .homework-status-pending {
    @apply border-[#FFA869] text-[#FFA869] stroke-[#FFA869];
}

 .homework-status-done {
    @apply border-[#44B56A] text-[#44B56A] ;
}

.homework-status-done button {
    @apply bg-[#44B56A] border-[#44B56A] text-white;
}

.homework-status-done-bg {
    @apply bg-[#44B56A] text-white;
}

/* Hover effects */

 .homework-status-default button:hover  {
    @apply bg-[#8A48E6] transition-all duration-300 ;
}
 .homework-status-default button:hover  div {
    color: white; 
}
 .homework-status-default button:hover svg path {
    stroke: white; 
}

 .homework-status-overdue button:hover  {
    @apply bg-[#E64851]  transition-all duration-300;;
}
.homework-status-overdue button:hover  div {
    color: white;
}
 .homework-status-overdue button:hover svg path {
    stroke: white; 
}

 .homework-status-pending button:hover  {
    @apply bg-[#FFA869] transition-all duration-300;
}
 .homework-status-pending button:hover  div {
    color: white;
}
 .homework-status-pending button:hover svg path {
    stroke: white; 
}
.homework-status-done button:hover {
    @apply bg-white text-[#44B56A] border-[#44B56A] transition-all duration-300;;
}