.taskButton .nav-button:hover {
    background-color: #8A48E6;
    color: #FFFFFF;
}

.taskButton .nav-button:hover .text-violet-600 {
    color: #FFFFFF; 
}

.taskButton .nav-button:hover svg path {
    stroke: #FFFFFF; 
}

.taskButton .button-invisible{
    display: none;
}

.taskButton .nav-button {
    background-color: white;
    border: 1px solid #8A48E6;
    color: #8A48E6;
    stroke:#8A48E6 ;
    transition: background-color 0.3s, color 0.3s;
}
.taskButton .select-button{
    background-color: #8A48E6;
    border: 1px solid #8A48E6;
    color: white;
    stroke:white;
}
