@tailwind base;
@tailwind components;
@tailwind utilities;

.forgot-page{
    @apply
    h-full
    relative;
}


.forgot-page .forgot-title{
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: bold;
  @apply
  mt-5
  mb-5;
}

.forgot-page .form-buttons{
    @apply
    w-full
    absolute
    bottom-0
    left-0
}

.forgot-page .under-header-text{
    font-family: Mulish;
    font-weight: 700;
    font-size: 15px;
    line-height: 20.46px;
    letter-spacing: -0.5%;
    text-align: center;
}