.input-wrapper {
    @apply
    w-full;
}

.standart-input {
    outline: none;
    border: 1px solid #d7d7d7;
    @apply 
    w-full 
    pt-3
    pb-3
    pl-4 
    border
    rounded-2xl
    hover:border-purple-300 
    focus:border-purple-600
    focus:border-2;
}

.error-text {
    @apply 
    text-red-600 
    text-sm 
    text-right
    mt-0.5
    mr-3;
}
    
.input-error {
    @apply 
    border-2 
    border-red-600;
}

